

/* Footer styles */
.u-footer {
    background-color: #f9f9f9;
    padding: 20px;
}

.u-footer .u-small-text {
    font-size: 12px;
    color: #555;
}
.u-nav,
.u-nav-item {
    position: relative;
}
.u-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.u-nav-item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 100%;
}
.u-nav-popup .u-nav-item {
    height: auto;
}
.u-nav-popup .u-nav:not([class*="u-align-"]) .u-nav {
    text-align: inherit;
}
.u-nav-container .u-nav-popup {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    z-index: 99;
}
.u-nav-container .u-nav-item .u-nav-item {
    display: block;
}
.u-nav-container .u-nav-item:hover > .u-nav-popup:not(.fake) {
    visibility: visible;
    pointer-events: auto;
}
.u-menu-mega .u-nav-container .u-mega-popup .u-nav {
    display: block;
}
.u-menu-mega .u-nav-container .level-2 > .u-nav {
    display: grid;
}
.u-menu-mega .u-nav-container .level-2.u-columns-auto > .u-nav {
    display: flex;
}
.u-menu-mega .u-nav-container .level-2 > .u-nav a {
    white-space: nowrap;
}
.u-menu-mega .u-nav-container .level-2 > .u-nav > li > a {
    white-space: normal;
}
.u-menu-mega .u-nav-container .u-mega-popup .level-3 {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: auto !important;
}
.u-menu-mega .u-nav-container .u-nav-item:hover > .u-mega-popup:not(.fake) .u-nav-popup,
.u-menu-mega .u-nav-container .u-mega-popup.open .u-nav-popup {
    visibility: visible;
    pointer-events: auto;
}
.u-menu-mega .u-nav-container .u-mega-popup > .u-nav {
    min-width: 120px;
    max-width: -webkit-min-content;
    max-width: min-content;
}
.u-menu-mega .u-nav-container .u-mega-popup > .u-nav .u-nav {
    width: auto;
}
.u-section-1 .u-sheet-1 {
    min-height: 400px;
}









/* Add your CSS styling here */
/* Style for the image gallery */
.gallery {
    text-align: center;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.gallery-item {
    cursor: pointer;
    width: calc(33.33% - 10px);
    height: 200px; /* Set a fixed height */
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the item */
    transition: transform 0.2s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}



/* Add your existing styles here */

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

.prev {
    left: 0;
    transform: translate(0, -50%);
}

.next {
    right: 0;
    transform: translate(0, -50%);
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
